.body {
  display: flex;
  flex-direction: column;
  margin: 50px 70px 50px 70px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 15;
}

.section {
  flex: 7;
}

.card-1-2-3 {
  display: flex;
  flex-direction: row;
  gap: 15;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  margin: 8px;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .card-1-2-3 {
    flex-direction: column;
  }
}
